.welcome {
  display: grid;
  grid-template-columns: 60px auto;
  padding: 10px 20px;
}

img {
  background-color: aqua;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

p {
  font-weight: bold;
  text-align: left;
  align-self: center;
}
